bleach==1.4.3
Django==1.11.23
django-crispy-forms==1.6.0
django-datetime-widget==0.9.3
django-markdownify==0.1.0
django-password-reset==0.9
html5lib==0.9999999
Markdown==2.6.7
oauthlib==2.0.0
pandas==0.19.2
psycopg2==2.6.2
python-openid==2.2.5
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.6.2
six==1.10.0
Unidecode==0.4.19
xkcdpass==1.9.0
