{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head %}
 <script type="text/javascript" src="/static/gradapp/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/gradapp/lib/bootstrap/dist/js/bootstrap.js"></script>
{{ form.media }}
{% endblock head %}

{% block title %}

Assignment

{% endblock title %}

{% block content %}


<div class="row">
    <div class="col-xs-12"> 
        <div class="chart-wrapper">
            <div class="chart-title">
                <font color="#00BBDE">{{ message }}</font>
            </div>
            <div class="chart-stage">
                <div class="col-xs-4">
                {% if type_post == 'reset' %}
                   <form action="{% url 'gradapp:reset_assignmentype' assignmentype_id %}" method="post" enctype="multipart/form-data">
                {% elif type_post == 'create' %}
                   <form action="{% url 'gradapp:create_assignmentype' %}" method="post" enctype="multipart/form-data">
                {% elif type_post == 'modify' %}
                   <form action="{% url 'gradapp:modify_assignmentype' assignmentype_id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                       {% csrf_token %}
                       {{ form|crispy }}
                       {% if error %}
                           <p><font color="#FA2A00">{{ error }}</font></p>
                       {% endif %}
                       <p><input type="submit" value="Submit" /></p>
                </form>
                </div>
                <div class="col-xs-4">
                  {% if type_post == 'modify' %}
                     <a class="btn btn-info" href="{% url 'gradapp:insert_question' assignmentype_id 1 %}">Add a question <span class="glyphicon glyphicon-plus"></span></a><br><br>
                     <a class="btn btn-info" href="{% url 'gradapp:insert_question' assignmentype_id -1 %}">Remove a question <span class="glyphicon glyphicon-minus"></span></a>
                  {% endif %}
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}
