{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}

Assignment

{% endblock title %}

{% block content %}


<div class="row">
    <div class="col-lg-12"> 
        <div class="chart-wrapper">
            <div class="chart-title">
                <font color="#00BBDE">{{ message }}</font>
            </div>
            <div class="chart-stage">
                {% if type_post == 'reset' %}
                   <form action="{% url 'gradapp:reset_assignmentype' assignmentype_id %}" method="post" enctype="multipart/form-data">
                {% elif type_post == 'create' %}
                   <form action="{% url 'gradapp:create_assignmentype' %}" method="post" enctype="multipart/form-data">
                {% elif type_post == 'modify' %}
                   <form action="{% url 'gradapp:modify_assignmentype' assignmentype_id %}" method="post" enctype="multipart/form-data">
                {% endif %}
                       {% csrf_token %}
                       {{ form|crispy }}
                       {% if error %}
                           <p><font color="#FA2A00">{{ error }}</font></p>
                       {% endif %}
                       <p><input type="submit" value="Submit" /></p>
                </form>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

