{% extends "base.html" %}

{% load staticfiles %}
{% load markdownify %}

{% block title %}

{{ assignmentype.title }}

{% endblock title %}

{% block content %}


<div class="row">
    <div class="col-lg-12"> 
        <div class="chart-wrapper">
            <div class="chart-title">
                Set coefficient for each question 
            </div>
            <div class="chart-stage">
                <form action="{% url 'gradapp:coeff_assignmentype' assignmentype.id %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                       {{ form.as_table }}
                       {% if error %}
                            <b><font color="#FE6672">{{ error }}</font></b>
                       {% endif %}
                       <p><input type="submit" value="Submit" /></p>
                </form>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

