{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}

Create an assignment!

{% endblock title %}

{% block content %}


<div class="row">
    <div class="col-lg-12"> 
        <div class="chart-wrapper">
            <div class="chart-stage">
               <form action="{% url 'gradapp:create_assignmentype' %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                       {{ form|crispy }}
                       {% if error %}
                           <p><font color="#FA2A00">{{ error }}</font></p>
                       {% endif %}
                       <p><input type="submit" value="Submit" /></p>
                </form>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

