{% extends "base.html" %}

{% load staticfiles %}
{% load markdownify %}

{% block title %}

Hi {{ student_name }}!

{% endblock title %}

{% block content %}


<div class="row">
	<div class="col-lg-12">
        <div class="chart-wrapper">
            <div class="chart-stage">
            
                {% for title, description, deadline_submission, deadline_grading, id, todo, to_be_evaluated, evaluations in list_assignments %}    
                    <div class="chart-wrapper" id="assignment{{ id }}">
                        <div class="chart-title">
                            {{ title }}
                        </div>
                        <div class="chart-stage">
                            <div class="col-lg-12">
                                <p>{{ description|markdownify|safe }}<p>
                            </div>
                            <div class="col-lg-4">
                                <p><center><b>Your submission</b> - Deadline: {{ deadline_submission }}</center></p>
                                <p>
                               {% if todo == 0 %}
                                    <center><a class="btn btn-warning" href="{% url 'gradapp:upload_assignment' id %}">Submit your assignment <span class="glyphicon glyphicon-upload"></span></a>
                               {% elif todo == 1 %}
                                    <center><a class="btn btn-info" href="{% url 'gradapp:upload_assignment' id %}">Resubmit your assignment <span class="glyphicon glyphicon-upload"></span></a>
                               {% elif todo == -1 %}
                               <center><a class="btn btn-primary" href="{% url 'gradapp:get_assignment' id %}">Too late to resubmit, click to download your file <span class="glyphicon glyphicon-download"></span></a>
                               {% else %}
                               <center><a class="btn btn-primary" href="#">Too late to submit <span class="glyphicon glyphicon-time"></span></a>
                                {% endif %}
                               </p>
                            </div>
                            <div class="col-lg-4">
                                <p><center><b>To be evaluated</b> - Deadline: {{ deadline_grading }}</center></p>
                                <center>
                                {% for i, is_evaluated, evalassignment_id in to_be_evaluated %}
								   {% if is_evaluated == -30 %}
                                        <a class="btn btn-primary" href="#"> <span class="glyphicon glyphicon-time"></span></a>
                                   {% elif is_evaluated == -20 %}
                                        <a class="btn btn-warning" href="{% url 'gradapp:eval_assignment' evalassignment_id %}"> <span class="glyphicon glyphicon-pencil"></span></a>
                                   {% elif is_evaluated == -10 %}
                                        <a class="btn btn-info" href="{% url 'gradapp:eval_assignment' evalassignment_id %}"> <span class="glyphicon glyphicon-ok"></span></a>
                                   {% else %}
                                        <a class="btn btn-info" href="{% url 'gradapp:eval_assignment' evalassignment_id %}"> <span class="glyphicon glyphicon-ok">&nbsp;</span><span class={% if is_evaluated == -1 %}"glyphicon glyphicon-thumbs-down"{% elif is_evaluated == 0 %}"glyphicon glyphicon-minus"{% elif is_evaluated == 1 %}"glyphicon glyphicon-thumbs-up"{% endif %}></span></a>
                                   {% endif %}
                                 {% endfor %}
                                 </center>
                            </div>
                            <div class="col-lg-4">
                                <p><center><b>See your evaluations</b></center></p>
                                <p><center>
                                {% for ieval, graded, grade_evaluation, grade_assignment, comments in evaluations %}
                                {% if graded %}
									<div class="col-lg-4">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#comments{{ ieval }}"><span class="glyphicon glyphicon-eye-open"></span></button>
                                    <!-- Modal -->
                                      <div class="modal fade" id="comments{{ ieval }}" role="dialog">
                                        <div class="modal-dialog">
                                          <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Evaluation comments &nbsp; &nbsp; &nbsp; &nbsp; {{ grade_assignment }}  &nbsp; &nbsp;
										           <a class={% if grade_evaluation == -1 %}"btn btn-danger"{% else %}"btn btn-default"{% endif %} href="{% url 'gradapp:eval_evalassignment' ieval -1 %}" data-toggle="tooltip" data-placement="top" title="I disagree with this evaluation"><span class="glyphicon glyphicon-thumbs-down"></span></a> 
										           <a class={% if grade_evaluation == 0 %}"btn btn-danger"{% else %}"btn btn-default"{% endif %} href="{% url 'gradapp:eval_evalassignment' ieval 0 %}" data-toggle="tooltip" data-placement="top" title="I don't know what to think about this evaluation"><span class="glyphicon glyphicon-minus"></span></a> 
										           <a class={% if grade_evaluation == 1 %}"btn btn-danger"{% else %}"btn btn-default"{% endif %} href="{% url 'gradapp:eval_evalassignment' ieval 1 %}"data-toggle="tooltip" data-placement="top" title="I agree with this evaluation"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                                              </h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>{% for question, question_grade, question_comments in comments %}
                                                <b>Question {{ question }}: {{ question_grade }}/2</b><br>
                                                 {{ question_comments|markdownify|safe }}
                                                {% endfor %}</p>
                                            </div>
                                            <div class="modal-footer">
                                              <a class="btn btn-primary" href="{% url 'gradapp:generate_txt_comments' ieval %}">Get comments in a txt file <span class="glyphicon glyphicon-download"></span></a><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>


									</div>
                                {% else %}
									<div class="col-lg-4">
                                     <a class="btn btn-primary" href="#"> <span class="glyphicon glyphicon-time"></span></a>
									</div>
                                 {% endif %}
                                 {% endfor %}
                                </center></p>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
        	</div> <!-- chart-stage -->
        </div> <!-- chart-wrapper -->
    </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock content %}

