{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdownify %}

{% block title %}

Assignment {{ assignmentype.title }}

{% endblock title %}

{% block content %}


<div class="row">
	<div class="col-lg-12">
        <div class="chart-wrapper">
            <div class="chart-stage">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th>Number of graders</th>
                        <th>File type</th>
                        <th>Deadline submission</th>
                        <th>Deadline grading</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                         <td>{{ assignmentype.description|markdownify|safe }}</td>
                         <td>{{ assignmentype.nb_graders }}</td>
                         <td>{{ assignmentype.file_type }}</td>
                         <td>{{ assignmentype.deadline_submission }}</td>
                         <td>{{ assignmentype.deadline_grading }}</td>
                       </tr>
                    </tbody>
                </table>
                <p>
                <center>
                    <a class="btn btn-info" href="{% url 'gradapp:modify_assignmentype' assignmentype.id %}">Modify details (not the student list) <span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-warning" href="{% url 'gradapp:reset_assignmentype' assignmentype_id=assignmentype.id %}" onclick="return confirm('Are you sure you want to modify the student list of this assignment? If yes, all former work will be lost!');">Modify student list (all student work will be lost!) <span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary" href="{% url 'gradapp:generate_csv_grades' assignmentype.id %}">Get csv with student grades <span class="glyphicon glyphicon-download"></span></a>
                </center>
                </p>
            </div> <!-- chart-stage -->
        </div> <!-- chart-wrapper -->
    </div> <!-- col-lg-12 -->
</div> <!-- row -->

<div class="row">
	<div class="col-lg-12">
        <div class="chart-wrapper">
            <div class="chart-stage">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Student</th>
                        <th>Assignment</th>
                        <th>Upload date</th>
                        {% for grade in range_grades %}
                            <th><a href="#" data-toggle="tooltip" data-placement="top" title="Left: grade given to the assignment. Right: student agreement with the peer-evaluation."><font color="#000000">Peer-grade {{ grade }}</font></a></th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for assignment in assignmentype.assignment_set.all %}
                        <tr>
                          <td>{{ assignment.student.user.username }}</td>
                          {% if assignment.document.name == '' %}
                            <td>Not uploaded yet...</td>
                          {% else %}
                            <td><a href="{{ assignment.document.url }}">{{ assignment.document.name }}</a></td>
                          {% endif %}
                          <td>{{ assignment.date_upload }}</td>
                          {% for evaluation in assignment.evalassignment_set.all %}
                             <td>
								 {{ evaluation.evaluator.user.username }}<br>
                                 {% if evaluation.grade_assignment %}
                                 <button type="button" class={% if not evaluation.grade_evaluation %}"btn btn-info"{% elif evaluation.grade_evaluation == -1 %}"btn btn-warning"{% elif evaluation.grade_evaluation == -1 %}"btn btn-warning"{% else %}"btn btn-primary"{% endif %} data-toggle="modal" data-target="#comments{{ evaluation.id }}">{{ evaluation.grade_assignment }}</button>
                                      <!-- Modal -->
                                      <div class="modal fade" id="comments{{ evaluation.id }}" role="dialog">
                                        <div class="modal-dialog">
                                          <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Evaluation comments &nbsp; &nbsp; &nbsp; &nbsp; {{ evaluation.grade_assignment }}  &nbsp; &nbsp; {% if evaluation.grade_evaluation == -1 %}<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>{% elif evaluation.grade_evaluation == 0 %}<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>{% elif evaluation.grade_evaluation == 1 %}<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>{% endif %}</h4>
                                            </div>
                                            <div class="modal-body">
                                              <p>{{ evaluation.grade_assignment_comments|markdownify|safe }}</p>
                                            </div>
                                            <div class="modal-footer">
                                              <a class="btn btn-primary" href="{% url 'gradapp:generate_txt_comments' evaluation.id %}">Get comments in a txt file <span class="glyphicon glyphicon-download"></span></a><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>
                                          
                                        </div>
                                      </div>
                                 {% else %}
                                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-time"></span></button>
                                 {% endif %}
                                 {% if not evaluation.grade_evaluation %}
                                     <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-time"></span></button>
                                 {% elif evaluation.grade_evaluation == -1 %}
                                     <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                                 {% elif evaluation.grade_evaluation == 0 %}
                                     <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
                                 {% elif evaluation.grade_evaluation == 1 %}
                                     <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                                 {% endif %}

                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div> <!-- chart-stage -->
        </div> <!-- chart-wrapper -->
    </div> <!-- col-lg-12 -->
</div> <!-- row -->
                        
{% endblock content %}
{% block script %}
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
{% endblock script %}

