{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdownify %}

{% block title %}

Assignment {{ assignmentype.title }}

{% endblock title %}

{% block content %}


<div class="row">
	<div class="col-lg-12">
        <div class="chart-wrapper">
            <div class="chart-stage">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Description</th>
                        <th>Number of graders</th>
                        <th>File type</th>
                        <th>Deadline submission</th>
                        <th>Deadline grading</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                         <td>{{ assignmentype.description|markdownify|safe }}</td>
                         <td>{{ assignmentype.nb_graders }}</td>
                         <td>{{ assignmentype.file_type }}</td>
                         <td>{{ assignmentype.deadline_submission }}</td>
                         <td>{{ assignmentype.deadline_grading }}</td>
                       </tr>
                    </tbody>
                </table>
                <p>
                <center><a class="btn btn-info" href="{% url 'gradapp:update_assignmentype' assignmentype_id=assignmentype.id %}">Modify <span class="glyphicon glyphicon-pencil"></span></a></center>
                </p>
            </div> <!-- chart-stage -->
        </div> <!-- chart-wrapper -->
    </div> <!-- col-lg-12 -->
</div> <!-- row -->
{% endblock content %}

