{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdownify %}

{% block title %}

{{ title }}

{% endblock title %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        {# TODO add download assignment #} 
        <div class="chart-wrapper">
            <div class="chart-title">
                <font color="#FE6672">Dealine evaluation: {{ deadline }}</font>
            </div>
            <div class="chart-stage">
                <div class="col-lg-4">
                    <p>{{ description|markdownify|safe }}</p>
                    <p><a class="btn btn-info" href="{{ assignment_doc }}">Download the assignment</a></p>
                </div>
                <div class="col-lg-8">
                <form action="{% url 'gradapp:eval_assignment' evalassignment_id %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                       {{ form|crispy }}
                       <p><input type="submit" value="Submit"></p>
                </form>
                <p><a class="btn btn-primary" href="{% url 'gradapp:dashboard_student' %}">Cancel</a></p>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

