{% extends "base.html" %}

{% load staticfiles %}

{% block header %}

What is it?

{% endblock header %}

{% block content %}

<div class="row">
    <div class="col-lg-10">
        <div class="chart-wrapper">
            <div class="chart-title">
                blablabla
                Pageviews by browser (past 24 hours)
          	</div>
          	<div class="chart-stage">
            	bliblibli
          	</div>
		  	<div class="chart-notes">
            	blobloblo
          	</div>
        </div>
    </div><!-- /col-lg-12 -->
</div><!-- /row -->

{% endblock content %}

{% block scripts %}


{% endblock scripts %}
