{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdownify %}

{% block title %}

{{ assignmentype.title }}

{% endblock title %}

{% block content %}


<div class="row">
    <div class="col-lg-12"> 
        <div class="chart-wrapper">
            <div class="chart-title">
                {{ info }} a question 
            </div>
            <div class="chart-stage">
                <form action="{% url 'gradapp:insert_question' assignmentype.id cd %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                       {{ form|crispy }}
                       <p><input type="submit" value="{{ info }} question" /></p>
                </form>
            </div> 
        </div>
    </div>
</div>
{% endblock content %}

