{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}

Your {{ type_assignmentype }} assignment list:

{% endblock title %}

{% block content %}


<div class="row">
	<div class="col-xs-12">
        <div class="chart-wrapper">
            <div class="chart-stage">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Number of graders</th>
                        <th>File type</th>
                        <th>Deadline submission</th>
                        <th>Deadline grading</th>
                        <th><a href="#" data-toggle="tooltip" data-placement="top" title="Show assignment details"><font color="#000000">Details</font></a></th>
                        {% if type_assignmentype == 'running' %}
                        <th><a href="#" data-toggle="tooltip" data-placement="top" title="Modify assignment details (without modifying student list)"><font color="#000000">Modify</font></a></th>
                        <th><a href="#" data-toggle="tooltip" data-placement="top" title="Modify student list (and other assignment details). This will reset the assignment (student work will be lost)!"><font color="#000000">Reset</font></a></th>
                        <th>Archive</th>
                        {% endif %}
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
	            	  {% for assignmentype in list_assignmentypes %}
                          <tr>
                            <td>{{ assignmentype.title }}</td>
                            <td>{{ assignmentype.nb_grading }}</td>
                            <td>{{ assignmentype.file_type }}</td>
                            <td>{{ assignmentype.deadline_submission }}</td>
                            <td>{{ assignmentype.deadline_grading }}</td>
                            <td><a class="btn btn-primary" href="{% url 'gradapp:detail_assignmentype' assignmentype.id %}"> <span class="glyphicon glyphicon-zoom-in"></span></a></td>
                            {% if type_assignmentype == 'running' %}
                            <td><a class="btn btn-info" href="{% url 'gradapp:modify_assignmentype' assignmentype.id %}"> <span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a class="btn btn-default" href="{% url 'gradapp:reset_assignmentype' assignmentype_id=assignmentype.id %}" onclick="return confirm('Are you sure you want to modify the student list of this assignment? If yes, all former work will be lost!');"> <span class="glyphicon glyphicon-repeat"></span></a></td>
                            <td><a class="btn btn-danger" href="{% url 'gradapp:archive_assignmentype' assignmentype.id %}" onclick="return confirm('Are you sure you want to archive this assignment?');"> <span class="glyphicon glyphicon-pushpin"></span></a></td>
                            {% endif %}
                            <td><a class="btn btn-warning" href="{% url 'gradapp:delete_assignmentype' assignmentype.id 1 %}" onclick="return confirm('Are you sure you want to delete this assignment?');"> <span class="glyphicon glyphicon-remove"></span></a></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
        	</div> <!-- chart-stage -->
        </div> <!-- chart-wrapper -->
    </div> <!-- col-xs-12 -->
</div> <!-- row -->
{% endblock content %}


{% block script %}
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
{% endblock script %}
