{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Login
{% endblock title %}

{% block content %}

{% if form.errors %}
<p>Sorry, wrong username or password... Try again!</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sorry, you don't have access to this page</p>
    {% else %}
    <p>Log in please</p>
    {% endif %}
{% endif %}


<div class="row">
    <div class="col-md-12">
        <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset_recover' %}">Have you lost your password?</a></p>
    </div>
</div>


{% endblock %}
