<!DOCTYPE html>
<html>
<head>
  <title>Classgrade</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="/static/gradapp/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/gradapp/css/keen-dashboards.css" />
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'gradapp:index' %}">
          <span class="glyphicon glyphicon-certificate"></span>
        </a>
        <a class="navbar-brand" href="{% url 'gradapp:index' %}">Classgrade</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            {% if user.prof %}
            <li><a href="{% url 'gradapp:create_assignmentype' %}">Create an assignment</a></li>
            {% endif %}
            <li><a href="{% url 'gradapp:index' %}">Blablabla</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>{% block title %} {% endblock title %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/gradapp/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/static/gradapp/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/static/gradapp/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="/static/gradapp/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="/static/gradapp/js/meta.js"></script>
  <script type="text/javascript" src="/static/gradapp/lib/keen-js/dist/keen.dashboard.js"></script>

    {% block scripts %}

    {% endblock scripts %}

</body>
</html>
